@import "../../variables.scss";

.file-upload-container {
  height: 20rem;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .box {
    text-align: center;

    p {
      text-decoration: underline;
    }
  }
}

.file-name-file-condition {
  display: flex;
  justify-content: space-between;

  .file-type-size {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;

    span {
      padding: 0.25rem 0.5rem;
      border-radius: 6px;

      &:first-child {
        background-color: rgb(204, 201, 201);
      }

      &:last-child {
        background-color: rgb(255, 254, 254);
        border: 1px solid $primary;
      }
    }
  }
}
