.quiz-management-container {
  .search-icon {
    position: absolute;
    top: 0.5rem;
    font-size: 1.5rem;
    left: 0.75rem;
  }

  .filters {
    .react-datepicker-wrapper {
      width: 100%;

      input {
        width: 100%;
        padding: 0;
        border: none;
        outline: none;
      }
    }
  }

  .table {
    td, th {
      white-space: nowrap;
      
      &.sl-no {
        max-width: 3rem !important;
        min-width: 3rem !important;
      }
    }
    tbody {
      tr {
        td {
          padding-top: 1rem;
          padding-bottom: 1rem;
          color: #727171;


          &:first-child {
            min-width: 12rem;
          }

          a {
            color: #727171;
          }

          .action-btn {
            font-size: 1.5rem;
            cursor: pointer;

            &.btn-disabled {
              color: #bcbbbb !important;
            }
          }
        }

        .quiz-name {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
