.navbar {
  .logo {
    width: 3rem;
    filter: invert(200%) brightness(200%);
  }

  .nav-link {
    // color: #5d5d5d;
    color: #ffffff9d;

    &:hover {
      color: #fff;
    }

    &.active {
    //   color: #000 !important;
      color: #fff !important;
      font-weight: 500;
    }
  }
}
