@import "./variables.scss";

.bg-primary,
.btn-primary {
  color: #fff !important;
}

.form-label {
  font-weight: 600;
}

.flex-1 {
  flex: 1;
}

.swal2-confirm.swal2-styled {
  background: $primary;
}

.bg-badge-blue{
background-color: var(--bs-blue);
}

input[type=range]{
  accent-color: $primary;
}

.publish-page {
  .react-datepicker-wrapper {
    width : 100%;
  }

  .css-13cymwt-control,
  .css-t3ipsp-control {
    border: none !important;
    box-shadow: none;
  }

  .form-control.css-b62m3t-container {
    padding: 0;
  }
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  border-radius: 9999px;
  font-weight: 500;
  line-height: 1;
  color: #fff;

  &.primary {
    background-color: rgba(13, 148, 134, 0.5); // blue-500
    color: rgb(13, 148, 134);
  }

  &.danger {
    background-color: rgba(239, 68, 68, 0.5); // red-500
    color: #7f1d1d;
  }

  &.warning {
    background-color: rgba(234, 179, 8, 0.5); // yellow-500
    color: #78350f;
  }

  &.info {
    background-color: rgba(6, 182, 212, 0.5); // cyan-500
    color: #164e63;
  }

  &.success {
    background-color: rgba(34, 197, 94, 0.5); // green-500
    color: #14532d;
  }
}
