@import "./variables.scss";

body {
  background-color: #fafafa;
}

.bg-primary,
.btn-primary {
  color: #fff !important;
}

.btn-disabled {
  cursor: not-allowed !important;
}

.form-label {
  font-weight: 600;
}

.flex-1 {
  flex: 1;
}

.swal2-confirm.swal2-styled {
  background: $primary;
}

.bg-badge-blue {
  background-color: var(--bs-blue);
}

input[type="range"] {
  accent-color: $primary;
}

.publish-page {
  .react-datepicker-wrapper {
    width: 100%;
  }

  .css-13cymwt-control,
  .css-t3ipsp-control {
    border: none !important;
    box-shadow: none;
  }

  .form-control.css-b62m3t-container {
    padding: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.status-badge {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  border-radius: 3px;
  font-weight: 500;
  line-height: 1;
  color: #fff;

  &.scheduled {
    background-color: rgba(13, 109, 253, 0.1); // blue-500
    color: #0d6efd;
  }

  &.live {
    background-color: rgba(25, 135, 84, 0.1); // red-500
    color: #198754;
  }

  &.completed {
    color: #6610f2;
    background-color: rgba(102, 16, 242, 0.1);
  }

  &.cancelled {
    background-color: rgba(220, 53, 70, 0.1); // cyan-500
    color: #dc3545;
  }

  &.success {
    background-color: rgba(34, 197, 94, 0.1); // green-500
    color: #14532d;
  }

  &.created {
    background-color: rgba(255, 157, 0, 0.1); // emerald-600, more visible
    color: rgba(255, 157, 0); // white text for contrast
  }
  
  &.unscheduled {
    background-color: rgba(12, 114, 67, 0.1); // red-500
    color: #198754;
  }
}


.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .tooltip-text {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 6px 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 10px;
    user-select: none;

    position: absolute;
    bottom: 125%; // position above the element
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.2s;

    &::after {
      content: '';
      position: absolute;
      top: 100%; // arrow pointing down
      left: 50%;
      transform: translateX(-50%);
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}

