@import "./variables.scss";

.bg-primary,
.btn-primary {
  color: #fff !important;
}

.form-label {
  font-weight: 600;
}

.flex-1 {
  flex: 1;
}

.swal2-confirm.swal2-styled {
  background: $primary;
}

.bg-badge-blue{
background-color: var(--bs-blue);
}

input[type=range]{
  accent-color: $primary;
}

.publish-page {
  .react-datepicker-wrapper {
    width : 100%;
  }

  .css-13cymwt-control,
  .css-t3ipsp-control {
    border: none !important;
    box-shadow: none;
  }
}