@import "./variables.scss";

.bg-primary,
.btn-primary {
  color: #fff !important;
}

.nav-link {
  color: #5d5d5d;
  color: #ffffff9d;

  &:hover {
    color: #fff;
  }
  
  &.active {
    color: #000 !important;
    color: #fff !important;
    font-weight: 500;
  }
}

.form-label {
  font-weight: 600;
}

.flex-1 {
  flex: 1;
}

.swal2-confirm.swal2-styled {
  background: $primary;
}

.bg-badge-blue{
background-color: var(--bs-blue);
}

input[type=range]{
  accent-color: $primary;
}