.quiz-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: #f2f2f2;
    padding: 2rem 0;
    
    .quiz-form {
        width: 50%;
        padding: 3rem 4rem;
        border-radius: 3px;
        box-shadow: 0 5px 10px #2626261b;

        @media (width < 991px) {
            width: 100%;
        }
    }
}

